canvas {
  cursor: crosshair;
  border: 3px solid white;
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 75px;
  background-color: #182028;
}
img {
  display: none;
}
